.content {
	max-width: 918px;
	margin: 0 auto 25px;
	padding: 0 15px;

	@include media('>=tablet') {
		margin-bottom: 75px;
	}

	h1 {
		font-size: 36px;
		margin-bottom: 20px;
		text-align: center;
		// background: #5879EE;
		background: linear-gradient(to right, #30B14F 0%, #45DB9D 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include media('>=tablet') {
			font-size: 72px;
			margin-bottom: 28px;
		}
	}

	.date {
		color: rgba(207, 207, 207, 1);
		text-align: center;
		font-size: 24px;
		display: block;
	}

	p {
		color: rgba(207, 207, 207, 1);
		margin: 0 0 32px;
	}

	h2 {
		text-align: left;
		font-size: 24px;
		color: #fff !important;
		margin: 36px 0 18px;
		background: none;
    	-webkit-background-clip: unset;
    	-webkit-text-fill-color: unset;

		@include media('>=tablet') {
			margin: 80px 0 32px;
		}
	}
	

	h6,
	h5,
	h4,
	h3 {
		text-align: left;
		margin: 36px 0 18px;

		@include media('>=tablet') {
			margin: 80px 0 32px;
		}
	}

	li {
		h2,h3,h4,h5,h6 {
			line-height: 1;
		}
	}
}

/* steps */
.steps-holder {
	padding: 40px 0 0;
}

.step {
	position: relative;
	max-width: 720px;
	margin: 0 auto 50px;
	width: 100%;
	padding: 24px;
	background: rgba(217, 217, 217, 0.08);
	border-radius: 14px;
	text-align: left;

	@include media('>=tablet') {
		padding: 40px;
		border-radius: 28px;
	}

	& > * {
		position: relative;
		z-index: 1;
	}

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 14px;
		padding: 2px;
		background: linear-gradient(45deg, #C0C0C0, #6E706E);
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;

		@include media('>=tablet') {
			border-radius: 28px;
		}
	}

	.head-box {
		display: flex;
		justify-content: space-between;
		margin: 0 0 20px;
		padding: 0 0 20px;
		border: 1px solid rgba(196, 196, 196, 1);

		@include media('>=tablet') {
			border: none;
			margin: 0 0 40px;
			padding: 0;
		}
	}

	.link-currency {
		font-size: 16px;
		color: #F5F5F5;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='20' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.11612 9.11612C0.627961 9.60427 0.627961 10.3957 1.11612 10.8839L9.07107 18.8388C9.55922 19.327 10.3507 19.327 10.8388 18.8388C11.327 18.3507 11.327 17.5592 10.8388 17.0711L3.76777 10L10.8388 2.92893C11.327 2.44078 11.327 1.64932 10.8388 1.16117C10.3507 0.67301 9.55922 0.67301 9.07107 1.16117L1.11612 9.11612ZM3 8.75H2L2 11.25H3V8.75Z' fill='white'/%3e%3c/svg%3e ");
		background-repeat: no-repeat;
		background-position: 0 50%;
		display: flex;
		align-items: center;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		img {
			margin-right: 12px;
			width: 24px;
			height: 24px;
		}

		@include media('>=tablet') {
			font-size: 24px;
			padding-left: 33px;

			img {
				width: 36px;
				height: 36px;
			}
		}
	}

	.mixing-lvl {
		display: none;
		align-items: center;
		font-size: 16px;
		color: #CFCFCF;

		img {
			margin-left: 20px;
		}

		@include media('>=tablet') {
			display: flex;
		}
	}

	.line-box {

		.line {
			display: flex;
			gap: 9px;
			width: 100%;
			margin: 0 0 14px;
		}
	}

	.line:nth-of-type(2) {
		.hour-percent {
			background: #D4954B;
		}	
	}

	.line:nth-of-type(3) {
		.hour-percent {
			background: #2C5BD5;
		}	
	}

	.hour-percent {
		position: relative;
		background: #2AA876;
		border-radius: 14px;
		width: 81px;
		font-size: 14px;
		line-height: 1;
		color: #fff;
		display: flex;
		flex-direction: column;
		text-transform: uppercase;
		padding: 14px;
		font-weight: 700;

		@include media('>=tablet') {
			// border-radius: 14px;
		}

		.percent {
			margin: 0 0 4px;
		}

		& > * {
			position: relative;
			z-index: 1;
		}
	
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 14px;
			padding: 2px;
			background: linear-gradient(45deg, #C0C0C0, #6E706E);
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
	
			@include media('>=tablet') {
				border-radius: 14px;
			}
		}
	}

	.input-holder {
		position: relative;
		border-radius: 14px;
		max-width: 550px;
		width: 100%;

		& > * {
			position: relative;
			z-index: 1;
		}
	
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 14px;
			padding: 2px;
			background: linear-gradient(45deg, #C0C0C0, #6E706E);
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
	
			@include media('>=tablet') {
				border-radius: 14px;
			}
		}

		input {
			width: 100%;
			height: 100%;
			border-radius: 14px;
			background: transparent;
			font-size: 16px;
			border: none;
			padding: 14px;
			color: rgba(255, 255, 255, 1);

			&::placeholder {
				font-family: $font-primary;
				font-size: 16px;
				color: rgba(255, 255, 255, 1);
			}

			@include media('>=tablet') {
				font-size: 20px;

				&::placeholder {
					font-size: 20px;
				}
			}
		}

		.clear-input {
			position: absolute;
			width: 28px;
			height: 28px;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			border: none;
			cursor: pointer;
			background-color: transparent;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cg filter='url(%23filter0_b_2059_66234)'%3e%3crect width='28' height='28' rx='4' fill='%23DD6666'/%3e%3crect x='0.75' y='0.75' width='26.5' height='26.5' rx='3.25' stroke='url(%23paint0_linear_2059_66234)' stroke-width='1.5'/%3e%3c/g%3e%3cpath d='M15.3036 14.1174C15.2382 14.0519 15.2382 13.9458 15.3036 13.8803L17.9118 11.2721L16.7263 10.0865L14.1181 12.6947C14.0526 12.7602 13.9464 12.7602 13.881 12.6947L11.2727 10.0865L10.0872 11.2721L12.6954 13.8803C12.7609 13.9458 12.7609 14.0519 12.6954 14.1174L10.0872 16.7256L11.2727 17.9112L13.881 15.303C13.9464 15.2375 14.0526 15.2375 14.1181 15.303L16.7263 17.9112L17.9118 16.7256L15.3036 14.1174Z' fill='white'/%3e%3cdefs%3e%3cfilter id='filter0_b_2059_66234' x='-13.992' y='-13.992' width='55.984' height='55.984' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3e%3cfeFlood flood-opacity='0' result='BackgroundImageFix'/%3e%3cfeGaussianBlur in='BackgroundImageFix' stdDeviation='6.996'/%3e%3cfeComposite in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_2059_66234'/%3e%3cfeBlend mode='normal' in='SourceGraphic' in2='effect1_backgroundBlur_2059_66234' result='shape'/%3e%3c/filter%3e%3clinearGradient id='paint0_linear_2059_66234' x1='0' y1='0' x2='33.4839' y2='10.4816' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%23C4C4C4'/%3e%3cstop offset='1' stop-color='%23C4C4C4' stop-opacity='0.4'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
		}
	}

	.add-more-btn {
		background-color: rgba(51, 216, 150, 1);
		color: #151515;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
		padding: 8px 16px;
		width: 100%;
		text-decoration: none;
		border-radius: 8px;
		margin: 0 0 30px;
		display: inline-block;

		@include media('>=tablet') {
			width: auto;
		}
	}

	.title {
		font-size: 16px;
		color: #CFCFCF;
		display: block;
		margin: 0 0 14px;
		font-weight: 400;
	}

	.tablist {
		display: none;
		justify-content: space-between;
		gap: 10px;
		margin: 0 0 20px;

		@include media('>=tablet') {
			display: flex;
		}

		li {
			width: calc(100% / 3);
			padding: 0;

			&:before {
				display: none;
			}

			a {
				color: #EEEEEE;
				text-decoration: none;
				background: hsl(0, 0%, 0%);
				border: 2px solid #33D896;
				transition: all .2s ease-in-out;
				text-transform: uppercase;
				font-size: 14px;
				text-align: center;
				line-height: 17px;
				border-radius: 8px;
				display: block;
				padding: 8px 12px 7px;

				&:hover,
				&.active {
					color: #151515;
					background-color: #33D896;
				}
			}
		}
	}

	.first {
		.title {
			margin: 0;
		}

		.gradient-slider {
			-webkit-appearance: none;
			appearance: none;
			width: 100%;
			height: 6px;
			background: linear-gradient(to right, #4CAF50 50%, #fff 50%);
			border-radius: 3px;
			outline: none;
			margin-top: 10px;
			position: relative;
		}
		
		.gradient-slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #4CAF50;
			position: relative;
			top: -7px; /* Добавлено для вертикального центрирования */
			z-index: 1;
		}
		
		.gradient-slider::-moz-range-thumb {
			width: 20px;
			height: 20px;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #4CAF50;
			position: relative;
			top: -7px; /* Добавлено для вертикального центрирования */
			z-index: 1;
		}
		
		.gradient-slider::-ms-thumb {
			width: 20px;
			height: 20px;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #4CAF50;
			position: relative;
			top: -7px; /* Добавлено для вертикального центрирования */
			z-index: 1;
		}
		
		.gradient-slider::-webkit-slider-runnable-track {
			width: 100%;
			height: 6px;
			cursor: pointer;
			background: linear-gradient(to right, #4CAF50 50%, #fff 50%);
			border-radius: 3px;
		}
		
		.gradient-slider::-moz-range-track {
			width: 100%;
			height: 6px;
			cursor: pointer;
			background: linear-gradient(to right, #4CAF50 50%, #fff 50%);
			border-radius: 3px;
		}
		
		.gradient-slider::-ms-track {
			width: 100%;
			height: 6px;
			cursor: pointer;
			background: transparent;
			border-color: transparent;
			color: transparent;
		}
		
		.gradient-slider::-ms-fill-lower {
			background: #4CAF50;
			border-radius: 3px;
		}
		
		.gradient-slider::-ms-fill-upper {
			background: #fff;
			border-radius: 3px;
		}
	}

	.second {
		.slider-track {
			position: relative;
			height: 6px;
			background: linear-gradient(to right, #4CAF50 20%, #FFA500 20%, #FFA500 50%, #0000FF 50%, #0000FF 80%, #0000FF 80%);
			border-radius: 3px;
			margin-top: 10px;
		}
		
		.slider {
			-webkit-appearance: none;
			appearance: none;
			width: 100%;
			height: 6px;
			background: transparent;
			position: absolute;
			top: -2px;
			pointer-events: none;
		}
		
		.slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #4CAF50;
			pointer-events: all;
		}
		
		.slider#slider2::-webkit-slider-thumb {
			background: #FFA500;
			border: 2px solid #FFA500;
		}
		
		.slider#slider3::-webkit-slider-thumb {
			background: #0000FF;
			border: 2px solid #0000FF;
		}
		
		.slider::-moz-range-thumb {
			width: 20px;
			height: 20px;
			background: #2AA876;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #2AA876;
			pointer-events: all;
		}
		
		.slider#slider2::-moz-range-thumb {
			background: #D4954B;
			border: 2px solid #D4954B;
		}
		
		.slider#slider3::-moz-range-thumb {
			background: #2C5BD5;
			border: 2px solid #2C5BD5;
		}
	}

	.third {
		.slider-track {
			position: relative;
			height: 6px;
			background-color: #ccc;
			border-radius: 3px;
			margin-top: 10px;
		}
		
		.range-slider {
			position: relative;
			height: 30px;
		}
		
		.slider {
			-webkit-appearance: none;
			appearance: none;
			width: 100%;
			height: 6px;
			background: transparent;
			position: absolute;
			top: -2px;
			pointer-events: none;
		}
		
		.slider::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 20px;
			height: 20px;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #4CAF50;
			pointer-events: all;
		}
		
		.slider#slider2::-webkit-slider-thumb {
			background: #FFA500;
			border: 2px solid #FFA500;
		}
		
		.slider#slider3::-webkit-slider-thumb {
			background: #0000FF;
			border: 2px solid #0000FF;
		}
		
		.slider::-moz-range-thumb {
			width: 20px;
			height: 20px;
			background: #4CAF50;
			cursor: pointer;
			border-radius: 50%;
			border: 2px solid #4CAF50;
			pointer-events: all;
		}
		
		.slider#slider2::-moz-range-thumb {
			background: #FFA500;
			border: 2px solid #FFA500;
		}
		
		.slider#slider3::-moz-range-thumb {
			background: #0000FF;
			border: 2px solid #0000FF;
		}
	}

	.sliders-area {
		& > div {
			margin: 0 0 37px;
		}
	}

	.btn {
		border: none;
		width: 100%;
	}

}

.values-area {
	position: relative;

	&:before {
		position: absolute;
		content: '';
		right: 0;
		top: -180px;
		width: 364px;
		height: 341px;
		background: url('./assets/img/bg-steps.png') no-repeat;
		z-index: -1;

		@include media('>=tablet') {
			width: 882px;
			height: 572px;
		}
	}

	h2 {
		margin-bottom: 32px;
	}
}

.text-box {
	max-width: 690px;
	margin: 0 auto 25px;
	font-weight: 600;
	font-size: 16px;
	text-align: center;

	span {
		font-weight: 400;
	}

	&.light {
		font-size: 12px;
		font-weight: 400;

		p {
			margin-bottom: 30px;
		}
	}

	@include media('>=tablet') {
		font-size: 24px;
		margin: 0 auto 50px;

		&.light {
			font-size: 20px;

			p {
				margin-bottom: 70px;
			}
		}
	}
}

.values-list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;

	@include media('>=1280px') {
		justify-content: space-between;
	}

	.item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-bottom: 40px;
		padding: 0 15px;

		@include media('>=tablet') {
			width: 50%;
		}

		@include media('>=1280px') {
			max-width: 412px;
			width: 100%;
			margin-bottom: 130px;
			padding: 0;

			&:nth-child(2) {
				top: 250px;
			}
		}
	}

	.title {
		font-weight: 600;
		color: $secondary-color;
		font-size: 16px;
		margin: 0 0 12px;

		@include media('>=tablet') {
			font-size: 24px;
			margin: 0 0 32px;
		}
	}

	p {
		margin: 0;
	}

	.img-holder {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 0 12px;

		@include media('>=tablet') {
			min-height: 129px;
			font-size: 24px;
			margin: 0 0 32px;
		}
	}
}

/* card gift page */

.card-label {
	background: rgb(0, 163, 156);
	padding: 12px 23px;
	color: $white;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 0 21px 0 30px;
	background: -moz-linear-gradient(left, rgba(0, 163, 156, 1) 0%, rgba(125, 244, 205, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(0, 163, 156, 1) 0%, rgba(125, 244, 205, 1) 100%);
	background: linear-gradient(to right, rgba(0, 163, 156, 1) 0%, rgba(125, 244, 205, 1) 100%);
	transform: rotate(-90deg);
	position: absolute;
	transition: all .15s ease-in-out;
	top: 32px;
	left: -57px;

	@include media('>=tablet') {
		top: 56px;
	}
}

.about {
	.steps {
		padding: 75px 0;

		&:after {
			display: none;
		}
	}

	.text-box {
		font-weight: 400;
	}
}

.card-list {
	margin: 0 -15px 45px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: column;

	@include media('>=tablet') {
		flex-direction: row;
	}

	.card-item {
		max-width: 664px;
		width: 100%;
		min-height: 300px;
		padding: 10px;
		border-radius: 30px;
		box-shadow: 0px 20px 100px rgba(51, 83, 95, 0.12);
		position: relative;
		overflow: hidden;
		text-align: center;
		background: $white;
		display: flex;
		margin: 0 0 15px;

		@include media('>=tablet') {
			min-height: 405px;
			margin: 15px;
		}

		&:before {
			position: absolute;
			content: '';
			@extend .main-gradient;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transition: all .15s ease-in-out;
			opacity: 0;
		}


		&:hover {
			&:before {
				opacity: 1;
			}
		}

		.price {
			font-size: 50px;
			font-weight: 600;
			color: $secondary-color;

			span {
				font-size: 20px;
				font-weight: 400;
				color: $grey;
			}
		}

		.btn {
			font-size: 16px;
		}
	}

	.card-box {
		display: flex;
		align-items: center;
		flex-direction: column;
		background: $white;
		border-radius: 21px;
		padding: 36px 15px;
		position: relative;
		width: 100%;

		&:before {
			position: absolute;
			content: '';
			background: url('./assets/img/gift-bg.png') no-repeat;
			width: 142px;
			height: 137px;
			right: -10px;
			top: 50%;
			transform: translateY(-50%);
			background-size: contain;

			@include media('>=tablet') {
				width: 285px;
				height: 274px;
			}

		}

	}

	.item-title {
		text-transform: uppercase;
		color: $tertiary-color;
		margin-bottom: 12px;

		@include media('>=tablet') {
			margin-bottom: 24px;
		}
	}

	p {
		padding: 0 15px;

		@include media('>=tablet') {
			padding: 0 5%;
		}
	}
}

.descript {
	max-width: 800px;
	margin: 0 auto;
}

.category {
	position: relative;
	margin-bottom: 50px;

	&:before {
		position: absolute;
		content: '';
		right: 0;
		top: -10px;
		width: 364px;
		height: 341px;
		background: url('./assets/img/bg-steps.png') no-repeat;
		z-index: -1;

		@include media('>=tablet') {
			width: 882px;
			height: 572px;
		}
	}

	.btn {
		font-size: 16px;
		padding: 16px 24px;
	}

	.rocks-list {
		border: 2px solid $secondary-color;
		border-radius: 12px;
		padding: 12px 4px;
		margin: 0 0 24px;
		flex-direction: row;
		justify-content: center;

		@include media('>=tablet') {
			border-radius: 22px;
		}

		li {
			font-size: 16px;
			color: #111;
			font-weight: 500;
			flex-direction: column;
			align-items: center;
			margin: 0 15px;

			&:nth-child(3) {
				.icon-box {
					max-width: 16px;
				}
			}
		}

		.icon-box {
			max-width: 25px;
			max-height: 25px;
			margin: 0 0 7px;
		}
	}

	.search-list {
		text-align: center;
		margin: 0 -25px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		@include media('>=tablet') {
			justify-content: center;
		}

		@include media('>=desktop') {
			justify-content: start;
		}

		.item {
			position: relative;
			padding: 5px;
			border-radius: 20px;
			margin: 0 15px 50px;
			transition: transform .15s ease-in-out;
			@extend .main-gradient;

			.item-box {
				padding: 7px 7px 26px;
				background: $white;
				border-radius: 15px;
				display: flex;
				flex-direction: column;
				height: 100%;

				@include media('>=tablet') {
					padding: 14px 14px 26px;
					border-radius: 30px;
				}
			}

			&>* {
				position: relative;
			}

			@include media('>=tablet') {
				max-width: 432px;
				padding: 10px;
				border-radius: 40px;
			}
		}
	}

	.box-title {
		color: $grey-dark;
		font-weight: 600;
		margin-bottom: 24px;
		font-size: 20px;

		@include media('>=tablet') {
			font-size: 24px;
		}

		a {
			text-decoration: none;
			color: $grey-dark;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.img-holder {
		margin: 0 0 24px;
		display: flex;
		justify-content: center;

		img {
			border-radius: 12px;
			overflow: hidden;

			@include media('>=tablet') {
				border-radius: 22px;
			}
		}
	}

	.text {
		max-height: 208px;
		overflow: hidden;
		margin: 0 0 24px;

		p {
			margin: 0;
		}
	}

	.btn-holder {
		.btn-secondary {
			font-weight: 700;
			margin-right: 26px;
		}
	}

	.slick-list {
		padding: 50px 0;

		@include media('>=tablet') {
			padding: 0;
		}
	}
}

.category-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 50px;

	li {
		padding: 0;
		margin-right: 18px;
		position: relative;

		&.in-active {
			&:after {
				position: absolute;
				content: '';
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: transparent;
			}

			.btn {
				color: rgba(23, 40, 47, 0.3);
			}
		}

		&.active {
			.btn {
				color: $primary-color;
			}
		}

		&:before {
			display: none;
		}

		@include media('>=tablet') {
			margin-right: 36px;
		}
	}

	.btn {
		font-weight: 500;
		padding: 12px 16px;
		font-size: 16px;
	}
}



.search-box {
	max-width: 375px;
	margin: 0 auto;
	position: relative;

	.search {
		width: 100%;
		background: rgba(107, 122, 143, 0.1);
		font-size: 16px;
		padding: 20px 15px 20px 66px;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 104.906 14.32l5.387 5.387a1 1 0 001.414-1.414l-5.387-5.387A8 8 0 0010 2zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z'/%3E%3C/svg%3E");
		background-position: 30px 50%;
		background-repeat: no-repeat;
		border: none;
		border-radius: 36px;
		color: $secondary-color;
		font-weight: 600;

		&::placeholder {
			color: $grey;
			font-family: $font-primary;
		}
	}

	.suggestion-list {
		position: absolute;
		top: 100%;
		background: $white;
		padding: 0;
		z-index: 1;
		width: 100%;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
		border-radius: 36px;

		li {
			padding: 0 30px;

			&:first-child {
				margin-top: 20px;
			}

			&:last-child {
				margin-bottom: 20px;
			}

			cursor: pointer;

			&:before {
				display: none;
			}
		}
	}
}

.contact-area {
	margin: 0 0 100px;
	position: relative;

	&.with-bg {
		&:before {
			position: absolute;
			content: '';
			background: url('./assets/img/bg-contact.png') no-repeat 0 100%;
			width: 421px;
			height: 307px;
			left: 0;
			bottom: -130px;
			z-index: -1;
			background-size: contain;

			@include media('>=tablet') {
				width: 842px;
				height: 614px;
			}
		}
	}

	.sub-text {
		display: block;
		text-align: center;
		font-size: 16px;
		margin: 0 0 40px;
		font-weight: 600;

		@include media('>=tablet') {
			font-size: 24px;
			margin: 0 0 80px;
		}
	}

	h2 {
		max-width: 600px;
		margin: 0 auto 48px;
	}
}

.form-box {
	max-width: 800px;
	margin: 0 auto;
	box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.12);
	border-radius: 35px;
	padding: 30px 20px 40px;
	background: $white;

	@include media('>=tablet') {
		padding: 50px 40px 70px;
	}
}

.contact-from {
	.line {
		display: flex;
		flex-direction: column-reverse;
		position: relative;
		margin: 0 0 10px;
	}


	label {
		transition: all .15s ease-in-out;
		position: relative;
		bottom: -32px;
		color: $grey-dark;
	}

	.text-area,
	.text-input {
		border: 2px dashed rgba(51, 83, 95, 0.2);
		border-width: 0 0 2px;
		transition: all .15s ease-in-out;
		padding: 8px 0;

		&.filled,
		&:focus {
			&+label {
				bottom: 0;
			}
		}
	}

	.text-area {
		resize: none;
		min-height: 100px;
		outline: none;
	}

	.requere {
		color: $red;
	}

	.btn-holder {
		display: flex;
		padding: 50px 0 0;
		flex-direction: column;
		align-items: center;
	}
}



.content {
	.container {
		overflow: hidden;
	}


	.text-area,
	.img-holder {
		@include media('>=tablet') {
			max-width: 50%;
			width: 100%;
		}
	}

	.text-area {
		@include media('>=tablet') {
			padding-left: 25px;
		}
	}

	img {
		margin: 0 0 20px;
		height: auto;

		@include media('>=tablet') {
			margin: 0 50px 50px 0;
		}
	}

	.social-list {
		a {
			background: $grey-dark;

			&:hover {
				background: $tertiary-color;
				color: $white;
			}
		}
	}
}

.conditions {
	font-weight: 500;
	font-size: 16px;
	display: flex;
	flex-wrap: wrap;

	@include media('>=tablet') {
		font-size: 24px;
	}

	li {
		padding: 0 10px 0 46px;
		position: relative;
		margin: 0 0 15px;

		@include media('>=tablet') {
			width: 50%;
			margin: 0 0 30px;
		}

		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 0;
			width: 30px;
			height: 30px;
			background: $primary-color;
			border-radius: 50%;

			@include media('>=tablet') {
				top: 4px;
			}
		}

		&:after {
			position: absolute;
			content: '';
			width: 9px;
			height: 14px;
			border: 2px solid $white;
			border-width: 0 2px 2px 0;
			transform: rotate(34deg);
			left: 10px;
			top: 5px;

			@include media('>=tablet') {
				top: 9px;
			}
		}
	}
}

.who-is-for {
	padding-bottom: 100px;
	background: url('./assets/img/bg-new.png') no-repeat;
	background-position: 100% 10%;
}

.mini-tabs {
	display: flex;
	min-height: 500px;
	align-items: flex-start;
	flex-direction: column;
	align-items: center;

	@include media('>=desktop') {
		flex-direction: row;
		align-items: flex-start;
	}

	li {
		position: relative;
		max-width: 340px;
		padding: 0;
		font-size: 16px;
		font-weight: 600;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;
		transition: all .15s ease-in-out;
		cursor: pointer;

		span {
			box-shadow: 0px -10px 50px rgba(0, 0, 0, 0.12);
			color: $grey;
			border-radius: 30px 30px 0px 0px;
			background: $white;
			padding: 30px 10px;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&:hover,
		&.active {
			span {
				background: $green-hover;
				color: $secondary-color;
			}

			@include media('>=desktop') {
				.photo-box {
					opacity: 1;
					visibility: visible;
					display: block !important;
				}
			}

		}

		&:first-child {

			@include media('>=desktop') {
				span {
					background: $green-hover;
					color: $secondary-color;
				}

				.photo-box {
					opacity: 1;
					visibility: visible;
					display: block !important;
				}
			}
		}


		@include media('>=desktop') {
			font-size: 24px;

			span {
				padding: 40px 10px;
			}
		}

		&:before {
			display: none;
		}

		.photo-box {
			width: 100%;
			top: 100%;
			height: 341px;
			border-radius: 0px 0px 30px 30px;
			display: none;

			@include media('>=desktop') {
				position: absolute;
				display: block;
				visibility: hidden;
				opacity: 0;
			}
		}
	}
}

.next-adventure {
	display: flex;
	align-items: center;
	padding: 0 15px;
	flex-direction: column;

	@include media('>=desktop') {
		padding: 0 59px;
		flex-direction: row;
		justify-content: space-between;
	}

	.img-holder {
		max-width: 70%;
		margin: 0 0 30px;

		@include media('>=desktop') {
			margin: 0;
			max-width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;

			img {
				max-width: 650px;
				width: 100%;
			}
		}
	}

	.text {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0;
		max-width: 900px;

		@include media('>=desktop') {
			align-items: flex-start;
			padding: 0 40px;
		}
	}

	.title {
		font-family: $font-secondary;
		margin-bottom: 34px;
		font-size: 24px;
		color: $secondary-color;

		@include media('>=desktop') {
			margin-bottom: 72px;
			font-size: 50px;
		}
	}

	.btn {
		margin-bottom: 20px;
		text-transform: capitalize;

		@include media('>=desktop') {
			margin-bottom: 40px;
		}
	}
}

.black-box {
	background: $grey-dark;
	color: $white;
	border-radius: 25px;
	margin: 10px;
	position: relative;
	padding: 24px 15px;
	font-weight: 500;
	max-width: 986px;
	width: 100%;
	margin: 0 auto 40px;

	&:before {
		position: absolute;
		content: '';
		@extend .main-gradient;
		left: -10px;
		right: -10px;
		top: -10px;
		bottom: -10px;
		border-radius: 30px;
		z-index: -1;
	}

	p {
		margin: 0;
	}

	@include media('>=desktop') {
		padding: 36px 55px;
	}
}

.pagination {
	// display: flex;
	font-size: 14px;
	flex-direction: column;
	padding: 10px 19px 15px;
	position: relative;
	overflow: hidden;

	&>* {
		position: relative;
		;
	}

	&:before {
		position: absolute;
		content: '';
		height: 100%;
		width: 8px;
		border-radius: 8px;
		background: $grey-dark;
		left: 50%;
		top: 0;
		z-index: -1;

		@include media('<=desktop') {
			display: none;
		}
	}

	@include media('>=desktop') {
		font-size: 24px;
		justify-content: space-between;
		padding: 10px 0 15px;
		padding: 10px 0 15px;
	}

	.prev,
	.next {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		transition: all .1s ease-in-out;
		padding: 10px 0;
		color: $grey-dark;

		@include media('<=desktop') {
			flex-direction: row-reverse;
			width: 100%;
		}

		span {
			width: 389px;
		}

		&:hover {
			color: $tertiary-color;

			.button {
				background: $tertiary-color;
				color: $grey-dark;

				&:before {
					background: $tertiary-color;
				}
			}
		}

		.button {
			font-size: 24px;
			transition: all .15s ease-in-out;
			padding: 16px 36px;
			border: 8px solid $grey-dark;
			border-radius: 8px;
			font-weight: 600;
			text-transform: uppercase;
			min-width: 214px;
			text-align: center;
			position: relative;
			background: $white;

			&:before {
				position: absolute;
				content: '';
				transition: all .15s ease-in-out;
				width: 56px;
				height: 56px;
				background: $white;
				border: 8px solid $grey-dark;
				border-width: 0 0 8px 8px;
				border-radius: 0 0 0 8px;
				top: 6px;
			}

			@include media('<=desktop') {
				font-size: 12px;
				min-width: 90px;
				padding: 10px 21px;
				border-radius: 4px;

				&:before {
					border-width: 0 0 4px 4px;
					width: 32px;
					height: 32px;
					border-radius: 4px;
				}

				&:after {
					position: absolute;
					content: '';
					width: 4px;
					height: 19px;
					border-radius: 4px;
					top: 100%;
					left: calc(50% - 2px);
					background: $grey-dark;
				}
			}
		}

	}

	.prev {
		span {
			padding: 0 55px 0 0;
			text-align: right;
		}

		@include media('<=desktop') {
			justify-content: flex-end;

			span {
				text-align: left;
				padding: 0 0 0 14px;
			}
		}


		.button {
			border-width: 8px 8px 8px 0;

			&:before {
				left: -26px;
				transform: rotate(45deg);
			}

			@include media('<=desktop') {
				border-width: 4px 4px 4px 0;

				&:before {
					left: -15px;
					top: 3px;
				}
			}
		}
	}

	.next {
		span {
			padding: 0 0 0 55px;
			text-align: left;
		}

		@include media('<=desktop') {
			justify-content: flex-start;

			span {
				text-align: right;
				padding: 0 14px 0 0;
			}
		}

		.button {
			border-width: 8px 0 8px 8px;

			&:before {
				right: -26px;
				transform: rotate(-135deg);
			}

			@include media('<=desktop') {
				border-width: 4px 0 4px 4px;

				&:before {
					right: -15px;
					top: 3px;
				}
			}
		}
	}

	.box {
		float: left;
		align-items: center;
		margin-bottom: 15px;

		&:nth-child(2) {
			text-align: right;
			float: right;
		}

		@include media('<=desktop') {
			width: 100%;
			float: none;
		}
	}
}

.btn-checkout {
	position: relative;
	display: inline-flex;
	align-items: center;
	flex-direction: row-reverse;

	&:after {
		position: static;
		font-size: 24px;
		content: '\e90f';
		font-family: 'icomoon';
		margin-right: 20px;
		color: $white;
		font-weight: 400;
	}
}

/* choose a city(catalog) */

.choose-city {
	padding: 20px 0 30px;

	&.with-slider {
		.container {
			max-width: 1460px;

			@include media('>=tablet') {
				padding: 0 60px !important;
			}
		}

		.slick-dots {
			@include media('>=tablet') {
				bottom: 10px;
			}
		}
	}

	.text-box {
		font-weight: 400;
	}

	&.secrets {
		margin: 0;

		.container {
			padding: 0 15px;
		}

		.slide {
			&:nth-child(3n+2) {
				top: 0;
			}

			margin: 20px 0 44px;

			&:first-child {
				margin-top: 0;
			}

			@include media('>=tablet') {
				margin: 44px 24px 0 !important;
			}
		}

		.secrets-slider {
			padding: 0;
			margin: 0 0 20px;

			@include media('>=tablet') {
				margin: 0 -26px 85px;
			}

			.slick-current {
				transform: scale(1);
				background: $white !important;
			}

			.slick-list {
				padding: 0;
			}

			.slick-track {
				padding: 40px 0;
			}

			.slick-arrow {
				top: 47%;

				&.slick-next {
					right: -55px;
				}

				&.slick-prev {
					left: -55px;
				}
			}

			&.js-secrets-slider-2 {
				max-width: 1380px;
				margin: auto;

				.slide {
					max-width: inherit;
					box-shadow: 0px 4px 10px rgba(66, 71, 91, 0.1);
					margin: 44px 15px;

					@include media('>=tablet') {
						box-shadow: 0px 16px 17px rgba(66, 71, 91, 0.12);
					}

					a {
						width: 100%;
						border-radius: 30px;
						background: $white;
					}
				}
			}
		}
	}

	h3 {
		text-align: left;
		color: $grey;
		margin: 60px 0 30px;

		@include media('>=tablet') {
			margin: 0;
		}
	}

}

.choose-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -30px;
	flex-direction: column;
	align-items: center;

	@include media('>=tablet') {
		flex-direction: row;
	}

	&>li {
		margin: 0 0 30px;
		border-radius: 35px;
		font-size: 24px;
		padding: 0;
		font-weight: 600;
		color: $grey;
		position: relative;
		cursor: pointer;
		max-width: 375px;
		width: 100%;

		span {
			padding: 17px 35px;
			display: flex;
			align-items: center;
			border-radius: 35px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

			&:after {
				font-family: 'icomoon';
				content: '\e910';
				margin-left: 24px;
				color: $tertiary-color;
				font-size: 12px;
				transition: all .2s ease-in-out;
			}
		}

		&:before {
			display: none;
		}


		@include media('>=tablet') {
			margin: 0 30px 30px;
			max-width: 100%;
			width: auto;

			&:hover {
				.dropholder {
					visibility: visible;
					opacity: 1;
				}

				span {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	.dropholder {
		top: 100%;
		left: 0;
		padding-top: 8px;
		z-index: 1;
		width: 100%;
		transition: all .2s ease-in-out;

		@include media('>=tablet') {
			position: absolute;
			visibility: hidden;
			opacity: 0;
		}
	}

	.dropdown {
		background: $white;
		border: 2px dashed #6B7A8F;
		border-radius: 35px;
		font-size: 16px;
		font-weight: 400;
		padding: 20px 35px 0px;
		width: 100%;

		@include media('>=tablet') {
			font-size: 20px;
			min-width: 335px;
			max-width: 430px;
		}

		li {
			padding: 0;
			margin-bottom: 20px;

			&:before {
				display: none;
			}
		}

		a {
			color: $secondary-color;
			text-decoration: none;

			&:hover {
				color: $tertiary-color;
			}
		}
	}
}

.video-area {
	width: 100%;
	padding: 4px;
	border-radius: 30px;
	overflow: hidden;
	position: relative;
	@extend .main-gradient;

	@include media('>=tablet') {
		padding: 15px;
		border-radius: 38px;
	}
}

.video-holder {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-width: 0;
		outline-width: 0;
		border-radius: 24px;

		@include media('>=tablet') {
			border-radius: 20px;
		}
	}
}

.select-country-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 0 30px;

	@include media('>=tablet') {
		margin: 0 0 110px;
	}

	.title {
		margin: 0 0 30px;
		display: block;
		text-align: center;
	}

	.open-list {
		padding: 9px 40px;
		position: relative;
		display: flex;
		border-radius: 26px;
		color: $grey-dark;
		text-decoration: none;
		max-width: 310px;
		width: 100%;
		text-align: center;

		span {
			position: relative;
			z-index: 2;
			width: 100%;

			&:before {
				position: absolute;
				left: 100%;
				top: 8px;
				content: '';
				width: 8px;
				height: 8px;
				border: 1px solid $grey-dark;
				border-width: 0 1px 1px 0;
				transform: rotate(45deg);
				transition: border .15s ease-in-out;
			}
		}

		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 5;
			border-radius: 26px;
			background: $white;
			z-index: 1;
		}

		&:after {
			position: absolute;
			content: '';
			top: -5px;
			left: -5px;
			width: calc(100% + 10px);
			height: calc(100% + 10px);
			border-radius: 30px;
			background: rgb(255, 134, 0);
			background: -moz-linear-gradient(left, rgba(255, 134, 0, 1) 0%, rgba(125, 244, 205, 1) 100%);
			background: -webkit-linear-gradient(left, rgba(255, 134, 0, 1) 0%, rgba(125, 244, 205, 1) 100%);
			background: linear-gradient(to right, rgba(255, 134, 0, 1) 0%, rgba(125, 244, 205, 1) 100%);
		}
	}

	.country-list {
		visibility: hidden;
		opacity: 0;
		max-height: 0;
		padding: 10px 14px;
		border: 2px solid $grey-light;
		max-width: 330px;
		position: absolute;
		top: calc(100% + 5px);
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		background: $white;
		z-index: 1;
		text-align: center;

		li {
			margin: 0 0 10px;
			padding: 0;

			&:before {
				display: none;
			}

			a {
				color: $grey-dark;
				text-decoration: none;

				&:hover {
					color: $tertiary-color;
				}
			}
		}
	}

	&.active {
		.country-list {
			visibility: visible;
			opacity: 1;
			max-height: 100vh;
		}
	}
}

// .animate__animated {
//     animation-duration: 1s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// }

// .animate__fadeInLeftBig {
// 	-webkit-animation-name: fadeInLeftBig;
//     animation-name: fadeInLeftBig;
// }

// .animate__fadeInRightBig {
//     -webkit-animation-name: fadeInRightBig;
//     animation-name: fadeInRightBig;
// }

// @keyframes fadeInLeftBig {
// 	0% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(-2000px,0,0);
// 		transform: translate3d(-2000px,0,0);
// 	}
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translateZ(0);
// 		transform: translateZ(0);
// 	}
// }

// @keyframes fadeInRightBig {
// 	0% {
// 		opacity: 0;
// 		-webkit-transform: translate3d(2000px,0,0);
// 		transform: translate3d(2000px,0,0);
// 	}
	
// 	100% {
// 		opacity: 1;
// 		-webkit-transform: translateZ(0);
// 		transform: translateZ(0);
// 	}
// }
