/*home*/
h1 {
	color: $grey-light;

	span {
		background: #5879EE;
		background: linear-gradient(to right, #30B14F 0%, #45DB9D 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.gradient-border {
	position: relative;
	border-radius: 14px;
	padding: 2px;
	max-width: 434px;
	margin: 0 auto;

	@include media('>=tablet') {
		border-radius: 28px;
	}

	&.select-border {
		max-width: 100%;
		border-radius: 14px;
		width: 100%;
		transition: border-radius .3s ease-in-out;

		&:before {
			border-radius: 14px;
		}

		&.active {
			border-radius: 14px 14px 0 0;
			padding: 2px 2px 0;
			margin-bottom: 2px;

			&:before {
				padding: 2px 2px 0;
				border-radius: 14px 14px 0 0;
			}
		}

		&.list {
			display: none;
			position: absolute;
			padding: 0 2px 2px;
			z-index: 1;
			border-radius: 0 0 14px 14px;
			top: calc(100% - 2px);

			&:before {
				padding: 0 2px 2px;
				border-radius: 0 0 14px 14px;
			}
		}
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 14px;
		padding: 2px;
		background: linear-gradient(45deg, #C0C0C0, #6E706E);
		-webkit-mask:
			linear-gradient(#fff 0 0) content-box,
			linear-gradient(#fff 0 0);
		-webkit-mask-composite: destination-out;
		mask-composite: exclude;

		@include media('>=tablet') {
			border-radius: 28px;
		}
	}

	.btn {
		width: 100%;
	}
}

.select-coin-box {
	background: rgba(217, 217, 217, 0.08);
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;

	.title {
		color: $white;
		margin: 0 0 20px;
		font-size: 24px;
		font-weight: 700;
	}

	@include media('>=tablet') {
		padding: 40px;
		border-radius: 25px;

		.title {
			margin: 0 0 28px;
			font-size: 32px;
		}
	}
}

.intro {
	padding: 120px 0 20px;
	margin: 0 0 170px;

	.intro-description {
		color: $grey-light;
		max-width: 426px;
		font-size: 18px;
		text-align: center;
		margin: 0 auto 40px;

		@include media('>=tablet') {
			font-size: 24px;
			margin: 0 auto 64px;
		}
	}

	@include media('>=tablet') {
		padding: 20px 0;
	}

	p {
		margin: 0;
	}
}

.select-bar {
	position: relative;
	background: rgba(217, 217, 217, 0.08);
	border-radius: 10px;
	width: 100%;
	margin: 0 0 14px;

	@include media('>=tablet') {
		margin: 0 0 28px;
	}

	img {
		width: 24px;
		height: 24px;
		margin-right: 12px;

		@include media('>=tablet') {
			width: 36px;
			height: 36px;
		}
	}
}

.select-title {
	color: #F5F5F5;
	line-height: 26px;
	font-weight: 600;
	font-size: 18px;
	padding: 11px 37px 11px 14px;
	width: 100%;
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;

	&:after {
		position: absolute;
		content: '';
		width: 16px;
		height: 9px;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='9' viewBox='0 0 16 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 9L0.205772 0.75L15.7942 0.75L8 9Z' fill='white'/%3e%3c/svg%3e ");
		background-repeat: no-repeat;
		right: 8px;
		top: calc(50% - 4.5px);
		transition: transform .3s ease-in-out;
	}

	&.active {
		&:after {
			transform: rotate(-180deg);
		}
	}

	@include media('>=tablet') {
		font-size: 24px;
		padding: 13px 37px 13px 14px;
	}
}

.select-list {
	margin: 0;
	padding: 0;
	background: rgba(0, 0, 0, 0.95);
	width: 100%;
	border-radius: 0 0 4px 4px;
	overflow: hidden;

	.item {
		line-height: 36px;
		font-size: 18px;
		font-weight: 600;
		padding: 13px 14px;
		cursor: pointer;
		list-style-type: none;
		display: flex;
		align-items: center;
		margin: 0;

		&:before {
			display: none;
		}

		&:hover {
			background: rgba(255, 255, 255, 0.2);

			a {
				// color: $color;
			}
		}

		&.active {
			display: none;
		}

		a {
			color: #F5F5F5;
			text-decoration: none;
		}

		@include media('>=tablet') {
			font-size: 24px;
		}
	}
}


.tabs {
	.text-part {
		font-size: 18px;
		max-width: 334px;
		color: rgba(207, 207, 207, .6);
		margin: 0 0 40px;
		padding-left: 26px;

		.title {
			font-size: 24px;
			font-weight: 700;
			color: rgba(207, 207, 207, .6);
		}
	}

	.active {
		.text-part {
			color: rgba(207, 207, 207, 1);
		}

		.title {
			color: #fff;
		}
	}

	.img-box {
		max-width: 500px;
		max-height: 500px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.safe-steps {
	margin: 0 0 220px;

	@include media('>=tablet') {
		margin: 0 0 240px;
	}

	.tabs {
		max-width: 1274px;
		margin: 0 auto;
		background: rgba(24, 24, 24, 1);
		font-size: 18px;
		line-height: 1.1;
		display: flex;
		flex-direction: column;
		box-shadow: 0px 0px 100px 0px rgba(34, 77, 45, 0.4);

		@include media('>=tablet') {
			flex-direction: row;
			padding: 40px;
		}

		@include media('<=767px') {
			background: none;
			box-shadow: none;

			&:before {
				display: none;
			}
		}

		&__holder {
			display: flex;
			justify-content: flex-start;
			width: 100%;

			@include media('>=tablet') {
				width: 50%;
			}
		}

		&__caption {
			display: flex;
			flex-direction: column;
			padding: 0;

			li {
				color: rgba(207, 207, 207, 1);
				margin: 0 0 24px;
				transition: color .1s ease-in;
				cursor: pointer;
				position: relative;
				box-shadow: 0px 0px 100px 0px rgba(34, 77, 45, 0.4);
				padding: 24px;
				text-align: center;

				&:before {
					display: none;
				}

				& > * {
					position: relative;
					z-index: 10;
				}

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					border-radius: 14px;
					padding: 2px;
					background: linear-gradient(45deg, #C0C0C0, #6E706E);
					-webkit-mask:
						linear-gradient(#fff 0 0) content-box,
						linear-gradient(#fff 0 0);
					-webkit-mask-composite: destination-out;
					mask-composite: exclude;
			
					@include media('>=tablet') {
						border-radius: 28px;
					}
				}

				&:last-child {
					margin: 0;
				}

				&.active {
					color: rgba(207, 207, 207, 1);
				
					.title {
						color: #fff;
					}
				}


				@include media('>=tablet') {
					padding: 0 0 0 26px;
					margin: 0 0 40px;
					box-shadow: none;
					text-align: left;
					color: rgba(207, 207, 207, .6);


					&:before {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 6px;
						height: 100%;
						background-color: #8B8B8B;
						border-radius: 4px;
						display: block;
					}

					&.active {
						&:before {
							background-color: #fff;
						}
					}

					&:after {
						display: none;
					}
				}
			}

			.title {
				font-size: 24px;
				color: #fff;
				display: block;
				font-weight: 600;
				transition: color .1s ease-in;
				margin: 0 0 12px;

				@include media('>=tablet') {
					color: rgba(207, 207, 207, .6);
				}

				@include media('>=desktop') {
					margin: 0 0 8px;
				}

				span {
					display: none;

					@include media('>=desktop') {
						display: inline-block;
					}
				}
			}

			.text {
				@include media('>=tablet') {
					max-width: 340px;
				}
			}

			p {
				margin: 0;
			}
		}

		.content-tabs {
			position: relative;
			display: none;

			.img-holder {
				@include media('>=desktop') {
					max-width: 450px;
					
					img {
						transform: scale(1.5);
					}
				}
			}

			@include media('>=tablet') {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
	}

	.tabs__content {
		height: 0;
		visibility: hidden;
		opacity: 0;
		transition: opacity .2s ease-in-out;
		display: flex;
		justify-content: center;

		@include media('>=desktop') {
			justify-content: flex-end;
			padding-right: 38px;
		}
	}

	.tabs__content.active {
		display: flex;
		height: auto;
		visibility: visible;
		opacity: 1;

		@include media('>=desktop') {
		}
	}

	.mobile-img {
		display: block;
		max-width: 225px;
		margin: 0 auto;

		@include media('>=tablet') {
			display: none;
		}
	}
}

.trust-us {
	margin: 0 0 220px;

	@include media('>=769px') {

		.slick-list {
			padding-top: 75px;
			width: 100%;
		}
	}
}

.trust-slider {
	display: flex;
	gap: 20px;
	box-shadow: 0px 0px 100px 0px rgba(34, 77, 45, 0.4);

	@include media('>=769px') {
		box-shadow: none;
	}

	.slick-track {
		display: flex;
	}

	.slide {
		position: relative;
		margin: 0;
		// display: flex;
		justify-content: center;
		align-items: center;
		height: auto;
		background-color: #181818;	

		& > * {
			position: relative;
			z-index: 1;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 14px;
			padding: 2px;
			background: linear-gradient(45deg, #C0C0C0, #6E706E);
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
	
			@include media('>=tablet') {
				border-radius: 28px;
			}
		}

		.intro-box {
			padding: 0 24px 24px;
			width: 100%;
		}
		
		.img-holder {
			max-width: 225px;
			margin: 0;
		}

		.title {
			font-size: 24px;
			line-height: 28px;
			color: #fff;
			margin: 0 0 12px;
			font-weight: 700;
		}

		p {
			font-size: 18px;
			margin: 0 0 10px;
			color: #fff;
		}

		@include media('>=769px') {
			margin: 0 10px;

			.intro-box {
				padding: 120px 40px 40px;
				max-width: 395px;
			}

			.img-holder {
				margin: 0 auto;
				max-width: 165px;
				position: absolute;
				top: -55px;
				left: 50%;
				transform: translateX(-50%);
			}

			.title {
				margin: 0 0 20px;
				line-height: 31px;
			}

			p {
				color: #747474;
			}
		}

	}
}


/* faq */
.faq-area {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include media('>=769px') {
		// padding-top: 50px;
		flex-direction: row;

		.title-col {
			padding: 0 15px 0 0;
		}
	}

	.title-col {
		max-width: 600px;

		p {
			font-size: 18px;
			color: #CFCFCF;
	
			@include media('>=tablet') {
				font-size: 24px;
			}
		}
	}

	
}

.faq {
	margin: 0 0 140px;

	@include media('>=tablet') {
		margin: 0 0 120px;
	}

	h2 {
		text-align: left;
		margin: 0 0 20px;
	}

}

.faq-list {
	@include media('>=tablet') {
		padding: 20px 0 0;
		max-width: 807px;
	}

	li {
		position: relative;
		padding: 0 24px;
		color: rgba(207, 207, 207, 1);
		box-shadow: 0px 0px 100px 0px rgba(34, 77, 45, 0.4);
		background-color: #181818;
		border-radius: 17px;
		margin: 0 0 20px;
		font-size: 18px;
		
		@include media('>=tablet') {
			padding: 0 32px;
		}

		& > * {
			position: relative;
			z-index: 10;
		}

		&:before {
			display: none;
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 14px;
			padding: 2px;
			background: linear-gradient(45deg, #C0C0C0, #6E706E);
			-webkit-mask:
				linear-gradient(#fff 0 0) content-box,
				linear-gradient(#fff 0 0);
			-webkit-mask-composite: destination-out;
			mask-composite: exclude;
			z-index: 2;
	
			@include media('>=tablet') {
				border-radius: 28px;
			}
		}

		&:last-child {
			border: none;
		}

		@include media('>=tablet') {
			line-height: 30px;
			border-radius: 32px;
			margin: 0 0 22px;
		}


		&.active {
			span {
				&:after {
					transform: rotate(-45deg);					
				}
			}
		}

		span {
			font-size: 24px;
			line-height: 27px;
			font-weight: 600;
			padding: 24px 30px 24px 0;
			display: block;
			cursor: pointer;
			position: relative;
			color: #fff;

			@include media('>=tablet') {
				padding: 48px 65px 48px 0;
				line-height: 31px;
			}

			&:before {
				position: absolute;
				content: '';
				width: 30px;
				height: 30px;
				background: #fff;
				border-radius: 50%;
				z-index: 1;
				right: -10px;
				top: calc(50% - 15px);
				left: auto;
	
				@include media('>=tablet') {
					width: 64px;
					height: 64px;
					top: calc(50% - 32px);
				}
			}

			&:after {
				position: absolute;
				content: '';
				top: calc(50% - 15px);
				right: -11px;
				width: 30px;
				height: 30px;
				transition: all .2s ease-in-out;
				z-index: 2;
				background-size: contain;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='42' height='41' viewBox='0 0 42 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M21.0096 28.6318V11.8419' stroke='%232D2D2D' stroke-width='2.41774' stroke-linecap='round'/%3e%3cpath d='M12.6158 20.2366L29.4056 20.2366' stroke='%232D2D2D' stroke-width='2.41774' stroke-linecap='round'/%3e%3c/svg%3e ");

				@include media('>=tablet') {
					right: 0;
					width: 42px;
					height: 41px;
					top: calc(50% - 21px);
				}
			}

			
		}

	}

	.text-faq {
		display: none;
		max-width: 1320px;
		padding: 0 0 15px;

		@include media('>=tablet') {
			padding: 0 0 15px;
		}

		p {
			font-size: 18px;
			color: #747474;
	
			@include media('>=tablet') {
			}
		}
	}
}

.hidden {
	display: none;
}
